html {
  box-sizing: border-box; /* Prevents padding from addign extra height or width to the page */
}

body {
  margin: 0;
  min-height: 100vh; /* Ensure the window takes the full heigh of the screen */
}
